.data-list-view {
    font-size: 12px; 

    #filter-btn {
        position: absolute; 
        right: 45px; 
        top: 5px; 
        z-index: 10;
    }
    
    #clear-btn {
        position: absolute; 
        right: 5px; 
        top: 5px; 
        z-index: 10;
    }

    #search-btn {
        position: absolute; 
        right: 85px; 
        top: 5px; 
        z-index: 10;
    }

    .list-table {
        height: 70%; 
        width: 100%; 
        overflow:scroll;
    }

    .data-list-text {
        font-size: 15px; 
        height: 30%; 
        width: 100%; 
        overflow:scroll; 
        border: 2px;
        padding: 10px;
    }

    table.dataTable {
        thead,tbody {
            td {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            tr.hover td {
                overflow: auto;
                text-overflow: clip;
                white-space: normal;
            }

            tr.active td {
                overflow: auto;
                text-overflow: clip;
                white-space: normal;        
            }
        }        
    }  

    .topic-circle {
        border-radius: 50%;  
        height: 8px; 
        width: 8px;
        margin-left: 15px;
    } 
}

