.data-list-view {
    font-size: 12px; 

    #data-length {
        position: absolute;
        left:5px;
        top: 5px;
    }

    #data-table {
        border-top: 2px ridge #cec1c4;
        border-left: 2px ridge #cec1c4;
        border-right: 2px ridge #cec1c4;
        border-bottom: 2px ridge #cec1c4;
    }

    .list-table {
        height: 56%; 
        width: 100%; 
        overflow-y:scroll;
        overflow-x: hidden; 
        border-bottom: 2px ridge #cec1c4;
        margin-bottom: 2px;
    }

    .data-list-text {
        height: 34%; 
        width: 100%; 
        overflow:scroll; 
        border: 2px ridge #cec1c4;
        padding: 2px;
        margin-bottom: 2px;
    } 

    .hightlight-box {
        height: 25px;
        width: 100%;
        overflow-y:scroll;
        overflow-x: hidden;
        padding-bottom: 10%;
        padding-top: 10%;
        padding-left: 2%;
    } 

    #hightlight {
        position: absolute;
        bottom: 3px;
        width: 70%;
        height: 9%;
        right: 5px;
        border: none;
        margin-left: 2px;
        border: 2px inset #cec1c4;
    }

    table.dataTable {
        thead th {
            padding-left: 5px !important;
            padding-right: 5px !important;
            text-align:center;
        }

        td {
            position: relative;
            font-size: 12px;
            max-width: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        tr.hover td {
            overflow: auto;
            text-overflow: clip;
            white-space: normal;
        }

        tr.active td {
            overflow: auto;
            text-overflow: clip;
            white-space: normal;        
        }
    }

    table.dataTable thead th, table.dataTable thead td {
        padding: 6px 8px; 
    }

    table.dataTable tbody th, table.dataTable tbody td {
        padding: 4px 8px; 
    }

    .topic-circle {
        position: absolute;
        border-radius: 50%;  
        height: 8px; 
        width: 8px;
        text-align:center;
    } 
}

