.graph-tip {
    position: absolute;
    top: 50px !important;

    // &.top {
    //     left: 45% !important;
    //     top: 50px !important;
    // }

    // &.bottom {
    //     left: initial !important;
    //     top: initial !important;
    //     right: 25% !important;
    //     bottom: 250px !important;
    // }
}

.graph-tip {
    position: absolute;
    top: 50px;
}


.document-galaxy-view {
    user-select: none;
    -webkit-user-select: none;

    .filtered-out {
        opacity: 0.2;
    }
    
    .not-selected {
        opacity: 0.2;
    }

    #zoom-in {
        position: absolute; 
        left: 10px; 
        top: 5px; 
        width: 20px;
        z-index: 10;
    }
    
    #zoom-out {
        position: absolute; 
        left: 29px; 
        top: 5px; 
        width: 20px;
        z-index: 10;
    }

    #data-num {
        position: absolute; 
        left: 55px; 
        top: 7px; 
        width: 100px;
        z-index: 10;
    }

    //#mouse-btn {
    //    position: absolute; 
    //    right: 107px;
    //    width: 40px; 
    //    top: 5px; 
    //    z-index: 10;
    //}

    #mouse-btn {
        position: absolute; 
        right: 27px;
        width: 40px; 
        top: 5px; 
        z-index: 10;
    }

    #color-btn {
        position: absolute; 
        width: 80px;
        right: 27px;
        top: 5px; 
        z-index: 10;
    }

    .config-btn {
        position: absolute; 
        right: 5px; 
        top: 5px; 
        z-index: 10;
    }

    // #toolbar {
    //     box-shadow: 0 0 3px #c8c8c8;
    //     background-color: #fafafa;
    //     -webkit-user-select: none;
    //     -moz-user-select: none;
    //     user-select: none;
    //     position: absolute;
    //     left: 0;
    //     right: 0;
    //     top: 0;
    //     z-index: 10000;
    //     padding-left: 5px;
    // }

    // #toolbar > .button {
    //     vertical-align: top;
    // }

    // .button {
    //     -webkit-user-select: none;
    //     -moz-user-select: none;
    //     user-select: none;
    //     display: inline-block;
    //     line-height: 20px;
    //     height: 20px;
    //     margin: 5px 2px;
    //     font-family: Arial, "Microsoft YaHei", sans-serif;
    //     font-size: 14px;
    //     padding: 0 8px;
    //     cursor: pointer;
    //     color: black;
    //     position: relative;
    //     border-bottom: 2px solid #AAA;
    //     margin-bottom: 2px;
    // }
    // .button:hover {
    //     background: #2060d5;
    //     color: white;
    // }
    // .button.inactive,.button.inactive:hover{
    //     background: #e1e1e1;
    //     color: #7d7d7d;
    // }
    // .button.active {
    //     border-bottom: 2px solid #2060d5;
    //     margin-bottom: 2px;
    // }
    // .button-group {
    //     display: inline-block;
    // }
    // .button-group .button:not(.active) {
    //     border-bottom: 2px solid #dcdcdc;
    //     margin-bottom: 2px;
    // }
    // .button-group .button:first-child {
    //     margin-left: 2px;
    // }
    // .button-group .button:last-child {
    //     margin-right: 2px;
    // }
    // .button-group .button {
    //     vertical-align: top;
    //     margin-left: 0;
    //     margin-right: 0;
    // }
    // .xicon-tools-zoom-in:before{
    //     font-family:WeiboEventsIcons;
    //     content:"\e00e";
    //     font-style:normal;
    //     font-weight:400;
    //     text-decoration:inherit;
    //     -webkit-font-smoothing:antialiased;
    //     display:inline;
    //     width:auto;
    //     height:auto;
    //     line-height:normal;
    //     vertical-align:baseline;
    //     margin-top:0
    // }
    // .xicon-tools-zoom-out:before{
    //     font-family:WeiboEventsIcons;
    //     content:"\e00f";
    //     font-style:normal;
    //     font-weight:400;
    //     text-decoration:inherit;
    //     -webkit-font-smoothing:antialiased;
    //     display:inline;
    //     width:auto;
    //     height:auto;
    //     line-height:normal;
    //     vertical-align:baseline;
    //     margin-top:0
    // }
    // .xicon-tools-zooming:before{
    //     font-family:WeiboEventsIcons;
    //     content:"\e010";
    //     font-style:normal;
    //     font-weight:400;
    //     text-decoration:inherit;
    //     -webkit-font-smoothing:antialiased;
    //     display:inline;
    //     width:auto;
    //     height:auto;
    //     line-height:normal;
    //     vertical-align:baseline;
    //     margin-top:0
    // }
    // .xicon-tools-move:before{
    //     font-family:WeiboEventsIcons;
    //     content:"\e007";
    //     font-style:normal;
    //     font-weight:400;
    //     text-decoration:inherit;
    //     -webkit-font-smoothing:antialiased;
    //     display:inline;
    //     width:auto;
    //     height:auto;
    //     line-height:normal;
    //     vertical-align:baseline;
    //     margin-top:0
    // }



    // .polygon-selection {
    //     stroke: darkgray;
    //     stroke-width: 1px;
    //     stoke-opacity: 1;
    //     fill: #888;
    //     opacity: 0.2;
    // }

    .doc-dot {
        opacity: 1;
        stroke: #fff;
        stroke-width: 1px;
        stroke-opacity: 0.5;
    }

    .selected .doc-dot, .drag-highlight .doc-dot {
        opacity: 1;
        // fill: #63B8FF;
        stroke-width: 1px;        
    }

    .bubble.droppable {
        stroke-width: 5px !important;
    }

    .bubble.editing {
        stroke-dasharray: 5,5;
        animation: editing 40s linear infinite;
    }

    .highlight .doc-dot {
        fill: red;
        animation: highlight 2s infinite;
    }


    @keyframes highlight
    {
        0% { stroke-width: 1px; }
        50% { stroke-width: 3px; }
        100% { stroke-width: 1px; }
    }

    @keyframes editing
    {
        to {
            stroke-dashoffset: 1000;
        }
    }

    .brush .extent {
        fill-opacity: .1;
        stroke: #fff;
        shape-rendering: crispEdges;
    }

    .galaxy-slider{
        width: 100%;
        padding: 0px 0px 20px 30px;
    }

    .galaxy-slider-title{
        width:100%; 
        padding: 20px 0px 20px 0px;
    }

    .cluster-text{
        font-family: "Arial";
        font-size: 15px;
        font-weight: bold;
    }

}