.graph-tip {
    position: absolute;
    top: 50px !important;

    // &.top {
    //     left: 45% !important;
    //     top: 50px !important;
    // }

    // &.bottom {
    //     left: initial !important;
    //     top: initial !important;
    //     right: 25% !important;
    //     bottom: 250px !important;
    // }
}

.graph-tip {
    position: absolute;
    top: 50px;
}


.document-galaxy-view {
    user-select: none;
    -webkit-user-select: none;

    .filtered-out {
        display: none;
    }
    
    .not-selected {
        opacity: 0.2;
    }

    #topic-btn {
        position: absolute; 
        right: 130px; 
        top: 5px; 
        z-index: 10;
    }

    #normal-btn {
        position: absolute; 
        right: 51px; 
        top: 5px; 
        z-index: 10;
    }

    #config-btn {
        position: absolute; 
        right: 5px; 
        top: 5px; 
        z-index: 10;
    }

    .polygon-selection {
        stroke: darkgray;
        stroke-width: 1px;
        stoke-opacity: 1;
        fill: #888;
        opacity: 0.2;
    }

    .doc-dot {
        opacity: 0.7;
    }

    .selected .doc-dot, .drag-highlight .doc-dot {
        opacity: 1;
        fill: #63B8FF;
        stroke-width: 2px;        
    }

    .bubble.droppable {
        stroke-width: 5px !important;
    }

    .bubble.editing {
        stroke-dasharray: 5,5;
        animation: editing 40s linear infinite;
    }

    .highlight .doc-dot {
        fill: red;
        animation: highlight 2s infinite;
    }


    @keyframes highlight
    {
        0% { stroke-width: 1px; }
        50% { stroke-width: 3px; }
        100% { stroke-width: 1px; }
    }

    @keyframes editing
    {
        to {
            stroke-dashoffset: 1000;
        }
    }

    .brush .extent {
        fill-opacity: .1;
        stroke: #fff;
        shape-rendering: crispEdges;
    }

    .galaxy-slider{
        width: 100%;
        padding: 0px 0px 20px 30px;
    }

    .galaxy-slider-title{
        width:100%; 
        padding: 20px 0px 20px 0px;
    }

    .cluster-text{
        font-family: "Arial";
        font-size: 15px;
        font-weight: bold;
    }

}