.entity-graph-view {

    // .node circle{
    //     stroke: #fff;
    //     stroke-width: 1.5px;
    // }

    #straight {
        position: absolute; 
        right: 85px; 
        top: 5px; 
        width: 55px;
        z-index: 10;
    }
    
    #curve {
        position: absolute; 
        right: 40px; 
        top: 5px; 
        width: 45px;
        z-index: 10;
    }

    #refresh {
        position: absolute; 
        right: 10px; 
        top: 5px; 
        width: 30px;
        z-index: 10;
        cursor: pointer;
    }

    .link {
        fill: none;
        stroke: #999;
        stroke-with: 1;
    }

    .node.entity-place circle {
        fill: #1f77b4;
    }

    .node.entity-name circle {
        fill: #ff7f0e;
    }

    .node.entity-organization circle {
        fill: #2ca02c;
    }

    .node.not-selected, .link.not-selected {
        opacity: 0.3;
    }
    .node.filtered-out, .link.filtered-out {
        opacity: 0.3;
    }

    .node text {
        color: #050505;
        font-family: Arial;
        font-weight: bold;
    }

    .line-controll {
        left:50px;
        top:5px;
        margin-top: 20px; 
    }

    .controll {
        position: absolute;
        display:inline; 
    }
    
    .hide {
        dispaly: none;
    }

    .show {
        display: block;
    }
}
