<% extends "../includes/view.html" %>
    <% block view-content %>
        <div id="toolbar">
<!--             <span class="button" id="zoom-in"><i class="xicon-tools-zoom-in"></i></span>
            <span class="button" id="zoom-out"><i class="xicon-tools-zoom-out"></i></span>
            <div class="button-group">
                <span class="button" id="brush"><i class="xicon-tools-zooming"></i></span>
                <span class="button" id="pan"><i class="xicon-tools-move"></i></span>
            </div>
            <div class="button-group">
                <span class="button" id="topic-color"><i class="xicon-tools-topic"></i></span>
                <span class="button" id="topic-color"><i class="xicon-tools-normal"></i></span>
            </div>
            <span class="button" id="config">Config</span> -->
            <span class="btn btn-default btn-xs" id="zoom-in">+</span>
            <span class="btn btn-default btn-xs" id="zoom-out">-</span>
            <span class="badge" id="data-num"></span>
            <span class="btn btn-default btn-xs active" id="mouse-btn">Brush</span>
            <!-- <span class="btn btn-default btn-xs" id="drag-btn">Darg</span> -->
            <!-- <span class="btn btn-default btn-xs" id="topic-btn">TopicColor</span> -->
            <span class="btn btn-default btn-xs active" id="color-btn">NormalColor</span>
            <!-- <span class="btn btn-default btn-xs" id="config-btn">Config</span> -->
            <a class="btn btn-default btn-xs config-btn"><i class="fa fa-cog"></i></a>
        </div>
        <div id="galaxy-svg"></div>
        <div class="modal fade" id="topic-keywords-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Config</h4>
                    </div>
                    <div class="modal-body text-center">
                        <div class="galaxy-slider">
                            <div class="galaxy-slider-title">
                                <span>Topic Number</span>
                            </div>
                            <input type="hidden" class="single-slider" id="topic-slider" value="">
                        </div>
                        <div class="galaxy-slider">
                            <div class="galaxy-slider-title">
                                <span>Keywords Number</span>
                            </div>
                            <input type="hidden" class="single-slider" id="keywords-slider" value="">
                        </div>
                        <div>
                            <span class="btn btn-default btn-primary" id="config-ok-btn">OK</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% endblock %>