<% extends "../includes/view.html" %>

<% block view-content %>
    <div id="facets-theme-part">
        <span><strong>Theme</strong></span>
        <div id="facets-theme" class="content"></div>
    </div>
    <div id="facets-name-part">
        <span><strong>Name</strong></span>
        <div id="facets-name" class="content"></div>
    </div>
    <div id="facets-place-part">
        <span><strong>Place</strong></span>
        <div id="facets-place" class="content"></div>
    </div>
    <div id="facets-organization-part">
        <span><strong>Organization</strong></span>
        <div id="facets-organization" class="content"></div>
    </div>
    
<% endblock %>

<% block templates %>
    <% raw %>
    <script type="text/template/lodash" id="facets-template">
        <div class="topic-wrapper thumbnail" id=<%=group.type%><%=group.id%> group-type=<%=group.type%> group-id=<%=group.id%>>
            <div class="group-title">
                <span class="badge"><%=group.data.length%></span>
                 <div class="keywords">    
                    <span class="word"> <%=topWords%></span>
                </div>   
                <div class="group-controller-group pull-right btn-group" style="right: 6px">
                    <a class="btn btn-default btn-xs filter-btn" group-type=<%=group.type%> group-id=<%=group.id%> ><i class="fa fa-filter"></i></a>
                </div>   
            </div> 
        </div>
    </script>
    <% endraw %>
<% endblock %>