input, button {
    border: none;
    outline: none;
}
button:before {
    color: #337ab7;
    opacity:0;
}
button:hover:before {
    position: absolute;
    opacity:1;
}
button:after {
    color: #324b4e;
}
button:hover:after{
    opacity:0;
}

#content {
    position: absolute;
    height: 700px;
    width: 100%;
    overflow-y: hidden;
}

.bar {
    position: absolute;
    padding: 30px 0;
    width: 300px;
    margin: 0 auto;
    left: 40%;
    top: 5%;
}
.bar input {
    width: 450px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid #324B4E;
    transition: .3s linear;
    float: right;
}
.bar button {
    position: absolute;
    background: none;
    border: none;
    right: -50px;
    top: 30px;
    font-size: xx-large;
}
.bar button:before, .bar button:after {
    content: "\f002";
    font-family: FontAwesome;
}
.file {    
    position: relative;
    margin: 0 auto;
    width: 700px;
    height: 100px;
    top: 13%;
}
.file div {
    position: absolute;
    top: 100%;
    left: 0;
    font-size: 16px;
    font-family: Arial, sans-serif;
}
.file button {
    position: absolute;
    background: none;
    right: 17%;
    top: 94%;
    border: none;
    font-size: x-large;
    z-index: 99;
}
.file button:before, .file button:after{
    content: "\f0c7";
    font-family: FontAwesome;
}
.sites {
    position: absolute;
    top: 30%;
    height: 70%;
    width: 100%;
}
.site {
    position: relative;
    border: 1px;
    height: 20%;
}
.site label{
    position: absolute;
    left: 5%;
    top: 50%;
    font-size: 18px; 
}
.sparkline {
    position: relative;
    left: 23%;
    top: 30%;
    stroke-width: 1.5px;
    
}

.dc-chart .tick text{
    font-size: 12px;
}

.word-cloud {
    position: absolute !important;
    height: 20%;
    width: 25%;
    right: 0px;
    top: 70px;
}
.wordle {
    height: 100px;
    width: 200px;
    padding: 5px;
}
.page-selector{
    position: absolute;
    right: 20%;
    top: 10%;
    z-index: 1;
    width: 150px;
    height: 30px;
}
.page-selector select {
    width: 130px;
    height: 35px;
    border: solid 1px #ccc;
    border-radius: 5px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 1px;
    background: no-repeat scroll right center transparent;
    padding: 0 0 0 10px;
}

#particles-js {
    position: absolute;
    top: 0;
    z-index: -99;
    width: 100%;
    height: 100%;
}

.checkbox-wrap{
    position: absolute;
    left: 0%; 
    top: 19%; 
    width: 100%;
    text-align: center;
    margin: 0 auto;
    background-color: white;
}
.checkbox-wrap input[type="checkbox"]{
    display: none;
}

.checkbox-wrap input[type="checkbox"]+label {
    display: inline-block;
    width: 10%;
    margin-top: 10px;
    margin-left: 5px;
    text-align: left;
    -webkit-box-sizing: border-box;
}

.checkbox-wrap label::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #D3D3D3;
    vertical-align: middle;
    -webkit-border-radius: 50%;
    margin-right: 5px;
    -webkit-box-sizing:border-box;
    -webkit-transition:background ease-in .5s
}

.checkbox-wrap input[type="checkbox"]:checked+label::before{
    background-color: #23527c;
    border: 5px #D3D3D3 solid;
}

img {
    vertical-align: middle;
    width: 100px;
    position: absolute;
    top: 45%;
    left: 12%;
}