body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.navbar.navbar-default.navbar-fixed-top {
    height: 5%;
}

.menubar{
    line-height: 24px;
}

.menubar-item{
    position: absolute; 
    right: 15%;
}
.menubar-item .top-nav-dropdown{
    position: relative;
    left: 50%;
    top: 35px;
    width: 100px;
    height: 70px; 
    color: #777;
    padding: 0;
    margin: 0;
    text-align: center;
    list-style: none;
}

/** 下面的控制显示和隐藏 **/
.menubar-item .top-nav-dropdown{
    display: none;
}

.menubar-item:hover .top-nav-dropdown{
    display: block;
}   

.process-container {
    position: relative;
    top: 5%;
    margin-top: 10px;
    height: 90%;
}

.footer {
    position: fixed;
    width:100%;
    top: 95%;
    height: 5%;
    text-align:center;
}