body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.navbar.navbar-default.navbar-fixed-top {
    height: 5%;
}

#title {
    position: absolute;
    left: 10%;
}

#navbar-crawler{
    position: absolute;
    right: 20%;
}

.menubar{
    line-height: 24px;
}

.menubar-item{
    position: absolute; 
    right: 15%;
}
.menubar-item .top-nav-dropdown{
    position: relative;
    left: 35%;
    top: 50px;
    width: 110px;
    height: 80px;
    color: #777;
    padding: 0;
    margin: 0;
    text-align: center;
    list-style: none;
}

.menubar-item li {
    position: absolute;
    width: 100px;
}

/** 下面的控制显示和隐藏 **/
.menubar-item .top-nav-dropdown{
    display: none;
}

.menubar-item:hover .top-nav-dropdown{
    display: block;
    padding: 12px 15px;
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    outline: none;
} 

.fa {
    position: absolute;
    left: 5%;
    top: 20%;
}  

#particles-js {
    position: absolute;
    top: 0;
    z-index: -99;
    width: 100%;
    height: 100%;
}

.footer {
    position: fixed;
    width:100%;
    top: 95%;
    height: 5%;
    text-align:center;
}