<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title id="title" serverPath="{{serverPath}}">Document Facets Analytics System</title>
    {% block head %}  {% endblock %}

    <link href="{{serverPath}}/libraries/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{serverPath}}/stylesheets/style.css" rel="stylesheet">


    {% block head-include %} {% endblock %}
</head>

<body>
    {% block header %}

    {% endblock %}
    {% block content %}

    {% endblock %}

    {% block footer %}
        <div class="footer">
             <span>&copy; 2017 · Sara Han · Peking University</span>
        </div>
    {% endblock %}

    {% block foot-include %}
        <script type="text/javascript" src="{{serverPath}}/libraries/jquery/jquery.js"></script>
        <script type="text/javascript" src="{{serverPath}}/libraries/jquery-ui/jquery-ui.js"></script>    
        <script type="text/javascript" src="{{serverPath}}/libraries/bootstrap/js/bootstrap.js"></script>
        <script type="text/javascript" src="{{serverPath}}/libraries/underscore/underscore.js"></script>   
    {% endblock %}
</body>
</html>
