<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <strong class="navbar-brand">Document Facets Analytics System</strong>
        <div class="menubar">
            <div class="menubar-item">
                <strong class="navbar-brand navbar-right" id="navbar-user">{{ userName }}</strong>
                <ul class="navbar-default top-nav-dropdown" id="top-nav-profile-dropdown">
                    <li><a href="/datasystem/upload">Files</a></li>
                    <li><a href="/signout">Log Out</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>