{% extends "../includes/layout.html" %}

{% block head-include %}
<link rel="stylesheet" href="{{serverPath}}/libraries/blueimp-file-upload/css/jquery.fileupload.css">
<link rel="stylesheet" href="{{serverPath}}/libraries/blueimp-file-upload/css/jquery.fileupload-ui.css">
<link rel="stylesheet" href="{{serverPath}}/stylesheets/style.css">
{% endblock %}

{% block header %}
    {% include "header.html" %}
{% endblock %}

{% block content %}
<div id="file-upload">
    <div id="particles-js"></div>
    <!-- The file upload form used as target for the file upload widget -->
        <form id="fileupload" action="/upload" method="POST" enctype="multipart/form-data">
          
            <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
            <div class="row fileupload-buttonbar" style="margin-top: 10px;">
                <div class="col-lg-7">
                    <!-- The fileinput-button span is used to style the file input field as button -->
                    <span class="btn btn-success fileinput-button">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>Add files...</span>
                        <input type="file" name="files[]" multiple>
                    </span>
                    <button type="submit" class="btn btn-primary start">
                        <i class="glyphicon glyphicon-upload"></i>
                        <span>Start upload</span>
                    </button>
    <!--                 <button type="reset" class="btn btn-warning cancel">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                        <span>Cancel upload</span>
                    </button> -->
    <!--                 <button type="button" class="btn btn-danger delete">
                        <i class="glyphicon glyphicon-trash"></i>
                        <span>Delete</span>
                    </button> -->
                    <!-- <input type="checkbox" class="toggle"> -->
                    <!-- The global file processing state -->
                    <span class="fileupload-process"></span>
                </div>
                <!-- The global progress state -->
                <div class="col-lg-5 fileupload-progress fade">
                    <!-- The global progress bar -->
                    <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                    </div>
                    <!-- The extended global progress state -->
                    <div class="progress-extended">&nbsp;</div>
                </div>
            </div>
            <!-- The table listing the files available for upload/download -->
            <table role="presentation" class="table table-striped">
                <tbody class="files">

                </tbody>
            </table>
        </form>
    <br>
</div>

<!-- The blueimp Gallery widget -->
<!-- <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div> -->
{% endblock %}

{% block foot-include %}
    <script type="text/javascript" src="{{serverPath}}/libraries/jquery/jquery.js"></script> 
    <script type="text/javascript" src="{{serverPath}}/libraries/jquery-ui/jquery-ui.js"></script>     
    <script type="text/javascript" src="{{serverPath}}/libraries/bootstrap/js/bootstrap.js"></script>
    <script src="{{serverPath}}/libraries/blueimp-tmpl/js/tmpl.js"></script>
    <script src="{{serverPath}}/libraries/blueimp-load-image/js/load-image.js"></script>
    <script src="{{serverPath}}/libraries/blueimp-canvas-to-blob/js/canvas-to-blob.js"></script>
    <script src="{{serverPath}}/libraries/blueimp-file-upload/js/jquery.fileupload.js"></script>
    <script src="{{serverPath}}/libraries/blueimp-file-upload/js/jquery.fileupload-process.js"></script>
    <script src="{{serverPath}}/libraries/blueimp-file-upload/js/jquery.fileupload-ui.js"></script>
    <script type="text/javascript" src="{{serverPath}}/libraries/particles.js/particles.js"></script>
    <script type="text/javascript">particlesJS.load("particles-js", "{{serverPath}}/config/particles.json");</script>  

    <!-- The main application script -->
    <script src="{{serverPath}}/javascripts/datasystem/upload-main.js"></script>

<!-- The XDomainRequest Transport is included for cross-domain file deletion for IE 8 and IE 9 -->
<!--[if (gte IE 8)&(lt IE 10)]>
<script src="/javascripts/uploader/cors/jquery.xdr-transport.js"></script>
<![endif]-->
{% endblock %}

</script>

